<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="seller.css">
</head>
<body>
    <div class="container">
        <form action="#">
            <div class="information">
                <h1>Your Product</h1>
                <div class="item">
                    <p>Name: </p>
                    <input type="text" placeholder="Your name...">
                </div>
                <div class="item">
                    <p>Description : </p>
                    <input type="text" placeholder="Your Description...">
                </div>
                <div class="item">
                    <p>Price : </p>
                    <input type="number" min="0" placeholder="Your Price..">
                </div>
                <div class="item">
                    <p>Branch : </p>
                    <input type="text" placeholder="Your branch...">
                </div>
                <div class="item">
                    <p>Image: </p>
                    <input type="file"  placeholder="Your Price..">
                </div>
            </div>
            <div class="img">
                <img src="../../Image/4.avif" alt="" width="100%">
            </div>
        </form>
        <div class="save">
            <button>SAVE INFORMATIONS</button>
        </div>
    </div>
    <script src="seller.js"></script>
</body>
</html>