<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form</title>
    <link rel="stylesheet" href="seller.css">
</head>
<body>
    <nav>
        <nav class="nav-bar">
            <ul>
                <li><a href="../../index.html">BEAUTY CARE</a></li>
                <li><a href="../../index.html">product</a></li>
                <li><a href="seller.html">Seller</a></li>
                <li><a href="../Customer/customer.html">Customer</a></li>
            </ul> 
        </nav>
    </nav>
    <div class="add">
        <button>ADD PRODUCT</button>
    </div>
    <div class="table-contai"></div>
    <div class="table-data"></div>
    <div id="product-dialog" style="display: none">
        <dialog open>
            <header>Update your product</header>
            <section>
                <label>Product Name</label>
                <input type="text" id ="get-name" placeholder="Your name...">
                <label>About Your product</label>
                <input type="text" id ="get-description" placeholder="Your Description...">
                <input type="number" id="get-price" min="0"  id ="product-price" placeholder="Your Price..">
                <input type="text" id ="get-brand" placeholder="Your branch...">
                <input type="url"  id ="get-img" placeholder="Your Image..">
            </section>
            <menu>
                <button id="cancel">Cancel</button>
                <button id="create">Create</button>
            </menu>
        </dialog>
    </div>
    <script src="seller.js"></script>
</body>
</html>