<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <nav>
        <nav class="nav-left">
            <ul>
                <li><a href="index.html">BEAUTY CARE</a></li>
                <li><a href="index.html">product</a></li>
                <li><a href="Views/Seller/seller.html">Seller</a></li>
                <li><a href="Views/Customer/customer.html">Customer</a></li>
            </ul> 
        </nav>
    </nav>
    <div class="container">
        <div class ="heading">
            <h1>Details Informations</h1>
        </div>
        <div class="group">
            <div class="image-detail">
                <img src="../assets/Image/4.avif" alt="" width="80%">
            </div>
                <div class="item1">
                    <p> Name : So Creme! Creamy Matte Lipstick - Gossip Dose</p>
                    <div class="star">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                    <p>Price : 10$</p>
                    <p>Branch : Chanel</p>
                    <p>Discount : 10%</p>
                    <p>Color : Blue, Pink, Yellow, Blue</p>
                    <p>location : Phom penh Tek tla</p>
                </div>
            </div>
        </div> 
    </div>
</body>
</html>